In [ ]:
import pandas as pd
from future.backports.xmlrpc.client import boolean

Series

In [ ]:
data = [100, 102, 104, 200, 202]

series = pd.Series(data, index=["a", "b", "c", "d", "e"])
print(series)

In [ ]:
series.loc["c"] = 204
print(series)

In [ ]:
series.iloc[0] = 0
print(series)

In [ ]:
print(series[series >= 200])

In [ ]:
calories = {"Day 1": 1700, "Day 2": 2100, "Day 3": 1850}

series = pd.Series(calories)

print(series)
print(series.loc["Day 1"])

In [ ]:
series["Day 3"] += 500
print(series)

In [ ]:
print(series[series > 2000])
print(series[series <= 2000])

DataFrame

In [ ]:
data = {
    "Name": ["Spongebob", "Patrick", "Squidward"],
    "Age": [30, 35, 50]
}

df = pd.DataFrame(data, index=["Employee 1", "Employee 2", "Employee 3"])
print(df)

In [ ]:
print(df.loc["Employee 1"])
print()
print(df.iloc[1])

In [ ]:
#Add a new column
df["Job"] = ["Cook", "N/A", "Cashier"]
print(df)

In [ ]:
#Add a new row
new_df = pd.DataFrame([{"Name": "Sandy", "Age": 28, "Job": "Scientist"},
                       {"Name": "Eugene", "Age": 60, "Job": "Manager"}],
                        index=["Employee 4", "Employee 5"])
df = pd.concat([df, new_df])

print(df)

In [ ]:
df = pd.read_csv("/Users/wojtek/Documents/pokemons.csv")
print(df.to_string())

In [ ]:
import pandas as pd
pokemons = pd.read_csv('/Users/wojtek/Documents/pokemons.csv', sep = ',')
pokemons

In [ ]:
#Selection by columns
print(df["Name"].head())
print()
print(df[["Name", "Height", "Weight"]].head())

In [ ]:
#Selection by rows
print(df.loc[0])

In [ ]:
df = pd.read_csv("/Users/wojtek/Documents/pokemons.csv", index_col="Name")

print(df.loc["Pikachu"])
print()
print(df.loc["Mewtwo", ["Height", "Weight"]])

In [ ]:
print(df.loc["Charizard":"Blastoise", ["Height", "Weight"]])

In [ ]:
print(df.iloc[0:11:2, 0:3])


Filtering

In [ ]:
tall_pokemon = df[df["Height"] > 2]
print(tall_pokemon)

In [ ]:
heavy_pokemon = df[df["Weight"] > 200]
heavy_pokemon

In [ ]:
legendary_pokemon = df[df["Legendary"] == 1]
legendary_pokemon

In [ ]:
water_pokemon = df[(df["Type1"] == "Water") | (df["Type2"] == "Water")]
water_pokemon

In [ ]:
dragon_pokemon = df[((df["Type1"] == "Fire") | (df['Type1'] == "Dragon")) & (df["Type2"] == "Flying")]
dragon_pokemon


Aggregate functions

In [ ]:
print(df.mean(numeric_only=True))
print(df["Height"].mean())

In [ ]:
print(df.sum(numeric_only=True))
print(df["Weight"].sum())

In [ ]:
print(df.min(numeric_only=True))
print(df["Height"].min())

In [ ]:
print(df.max(numeric_only=True))
print(df["Weight"].max())

In [ ]:
print(df.count())
print(df["Type2"].count())

In [ ]:
group = df.groupby("Type1")
print(group.count())

In [ ]:
print(group["Height"].mean())

In [ ]:
print(group["Weight"].sum())

In [ ]:
print(group["Height"].max())

Data cleaning

In [159]:
df = pd.read_csv("/Users/wojtek/Documents/pokemons.csv")

In [ ]:
# 1.Dropping a column
df = df.drop(columns=["Legendary", "No"])
df

In [ ]:
# 2.Handle missing data
df = df.dropna(subset=["Type2"])
print(df.to_string())

In [ ]:
df = df.fillna({"Type2": "None"})
df

In [ ]:
# 3.Fix inconsistent values
df["Type1"] = df["Type1"].replace({"Grass": "GRASS",
                                   "Fire": "FIRE",
                                   "Water": "WATER"})
df

In [ ]:
# 4.Standarize text
df["Name"] = df["Name"].str.lower()
df

In [ ]:
# 5.Fix data types
df["Legendary"] = df["Legendary"].astype(bool)
df

In [ ]:
df["Legendary"] = df["Legendary"].replace({1: "True", 0: "False"})
df

In [161]:
# 6.Remove duplicate values
df = df.drop_duplicates()
df

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
5      2     Ivysaur    Grass  Poison     1.0    13.0          0
6      3    Venusaur    Grass  Poison     2.0   100.0          0
7      4  Charmander     Fire     NaN     0.6     8.5          0
8      5  Charmeleon     Fire     NaN     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
149  146     Moltres     Fire  Flying     2.0    60.0          1
150  147     Dratini   Dragon     NaN     1.8     3.3          0
151  148   Dragonair   Dragon     NaN     4.0    16.5          0
152  149   Dragonite   Dragon  Flying     2.2   210.0          0
153  150      Mewtwo  Psychic     NaN     2.0   122.0          1

[150 rows x 7 columns]