In [3]:
import pandas as pd

Series

In [ ]:
data = [100, 102, 104, 200, 202]

series = pd.Series(data, index=["a", "b", "c", "d", "e"])
print(series)

In [ ]:
series.loc["c"] = 204
print(series)

In [ ]:
series.iloc[0] = 0
print(series)

In [ ]:
print(series[series >= 200])

In [ ]:
calories = {"Day 1": 1700, "Day 2": 2100, "Day 3": 1850}

series = pd.Series(calories)

print(series)
print(series.loc["Day 1"])

In [ ]:
series["Day 3"] += 500
print(series)

In [ ]:
print(series[series > 2000])
print(series[series <= 2000])

DataFrame

In [ ]:
data = {
    "Name": ["Spongebob", "Patrick", "Squidward"],
    "Age": [30, 35, 50]
}

df = pd.DataFrame(data, index=["Employee 1", "Employee 2", "Employee 3"])
print(df)

In [ ]:
print(df.loc["Employee 1"])
print()
print(df.iloc[1])

In [ ]:
#Add a new column
df["Job"] = ["Cook", "N/A", "Cashier"]
print(df)

In [ ]:
#Add a new row
new_df = pd.DataFrame([{"Name": "Sandy", "Age": 28, "Job": "Scientist"},
                       {"Name": "Eugene", "Age": 60, "Job": "Manager"}],
                        index=["Employee 4", "Employee 5"])
df = pd.concat([df, new_df])

print(df)

In [ ]:
try:
    df = pd.read_csv("/Users/wojtek/Documents/pokemons.csv")
except:
    df = pd.read_csv("C:/Users/Wojtek/Downloads/pokemons.csv")

print(df.to_string())

In [ ]:
import pandas as pd
try:
    pokemons = pd.read_csv("/Users/wojtek/Documents/pokemons.csv", sep = ',')
except:
    pokemons = pd.read_csv("C:/Users/Wojtek/Downloads/pokemons.csv", sep = ',')

pokemons

In [ ]:
#Selection by columns
print(df["Name"].head())
print()
print(df[["Name", "Height", "Weight"]].head())

In [ ]:
#Selection by rows
print(df.loc[0])

In [ ]:
try:
    df = pd.read_csv("/Users/wojtek/Documents/pokemons.csv", index_col="Name")
except:
    df = pd.read_csv("C:/Users/Wojtek/Downloads/pokemons.csv", index_col="Name")

print(df.loc["Pikachu"])
print()
print(df.loc["Mewtwo", ["Height", "Weight"]])

In [ ]:
print(df.loc["Charizard":"Blastoise", ["Height", "Weight"]])

In [ ]:
print(df.iloc[0:11:2, 0:3])


Filtering

In [ ]:
tall_pokemon = df[df["Height"] > 2]
print(tall_pokemon)

In [ ]:
heavy_pokemon = df[df["Weight"] > 200]
heavy_pokemon

In [ ]:
legendary_pokemon = df[df["Legendary"] == 1]
legendary_pokemon

In [ ]:
water_pokemon = df[(df["Type1"] == "Water") | (df["Type2"] == "Water")]
water_pokemon

In [ ]:
dragon_pokemon = df[((df["Type1"] == "Fire") | (df['Type1'] == "Dragon")) & (df["Type2"] == "Flying")]
dragon_pokemon


Aggregate functions

In [ ]:
print(df.mean(numeric_only=True))
print(df["Height"].mean())

In [ ]:
print(df.sum(numeric_only=True))
print(df["Weight"].sum())

In [ ]:
print(df.min(numeric_only=True))
print(df["Height"].min())

In [ ]:
print(df.max(numeric_only=True))
print(df["Weight"].max())

In [ ]:
print(df.count())
print(df["Type2"].count())

groupby

In [ ]:
group = df.groupby("Type1")
print(group.count())

In [ ]:
print(group["Height"].mean())

In [ ]:
print(group["Weight"].sum())

In [ ]:
print(group["Height"].max())

Data cleaning

In [ ]:
try:
    df = pd.read_csv("/Users/wojtek/Documents/pokemons.csv")
except:
    df = pd.read_csv("C:/Users/Wojtek/Downloads/pokemons.csv")

In [ ]:
# 1.Dropping a column
df = df.drop(columns=["Legendary", "No"])
df

In [ ]:
# 2.Handle missing data
df = df.dropna(subset=["Type2"])
print(df.to_string())

In [ ]:
df = df.fillna({"Type2": "None"})
df

In [ ]:
# 3.Fix inconsistent values
df["Type1"] = df["Type1"].replace({"Grass": "GRASS",
                                   "Fire": "FIRE",
                                   "Water": "WATER"})
df

In [ ]:
# 4.Standarize text
df["Name"] = df["Name"].str.lower()
df

In [ ]:
# 5.Fix data types
df["Legendary"] = df["Legendary"].astype(bool)
df

In [ ]:
df["Legendary"] = df["Legendary"].replace({1: "True", 0: "False"})
df

In [ ]:
# 6.Remove duplicate values
df = df.drop_duplicates()
df

_____________________________________________________________________________________________________

In [ ]:
try:
    df = pd.read_csv("/Users/wojtek/Documents/pokemons.csv")
except:
    df = pd.read_csv("C:/Users/Wojtek/Downloads/pokemons.csv")
print(df.columns)

In [ ]:
print(df["Name"][0:5])
print()
print(df["Name"][5])

In [ ]:
for index, row in df.iterrows():
    # print(index, row)
    print(index, row["Name"])

In [ ]:
df.describe()

In [ ]:
df.sort_values("Name")
df.sort_values("Name", ascending=False)
df.sort_values(["Type1", "Height"], ascending=[True, False])

In [4]:
try:
    df = pd.read_csv("/Users/wojtek/Documents/pokemon_data.csv")
except:
    df = pd.read_csv("C:/Users/Wojtek/Downloads/pokemon_data.csv")

df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
df["Total"] = df["HP"] + df["Attack"] + df["Defense"] + df["Sp. Atk"] + df["Sp. Def"] + df["Speed"]
df

In [ ]:
df = df.drop(columns="Total")

In [ ]:
df["Total"] = df.iloc[:, 4:10].sum(axis=1)
df["Total"] = df.loc[:, "HP":"Speed"].sum(axis=1)
df

In [ ]:
columns = list(df.columns)
df = df[columns[0:10] + [columns[-1]] + columns[10:12]]
df

In [ ]:
print(df["Type 1"] == "Grass")
df.loc[df["Type 1"] == "Grass"]

In [ ]:
new_df = df.loc[(df["Type 1"] == "Grass") & (df["Type 2"] == "Poison")]

new_df = new_df.reset_index(drop=True)
# new_df.reset_index(drop=True, inplace=True)

new_df

In [ ]:
# df.loc[~df["Name"].str.contains("Mega")]
df.loc[df["Name"].str.contains("Mega") == False]

In [ ]:
# import re
df.loc[df["Type 1"].str.contains("fire|grass", case=False, regex=True)]

In [ ]:
df.loc[df["Name"].str.contains("^pi[a-z]*", case=False, regex=True)]

In [ ]:
df.loc[df["Type 1"] == "Fire", "Type 1"] = "Flamer"
df.loc[df["Type 1"] == "Flamer", "Legendary"] = True

df

In [ ]:
df.loc[df["Total"] > 500, ["Generation", "Legendary"]] = [2137, "Ultra legendary"]
df

In [ ]:
# df.groupby("Type 1").mean(numeric_only=True).sort_values("Total", ascending=False)
df.groupby(["Type 1", "Legendary"]).mean(numeric_only=True).sort_values("Total", ascending=False)
# df.groupby("Type 1")[["HP", "Attack", "Defense"]].mean().sort_values("Attack", ascending=False)

In [ ]:
# df.groupby("Type 1").count()["Name"]
# print(df.groupby(["Type 1", "Type 2"]).count()["Name"].to_string())
df.groupby(["Type 1", "Legendary"]).count()["Name"]

_______________________________________________________________________________________________________________________________________________________________________________________________________

In [ ]:
df.shape
df.info()
df.describe()

In [ ]:
# Korelacje
df.corr(numeric_only=True)

In [ ]:
# Operacje matematyczne
df["Attack/Defense"] = df["Attack"] / df["Defense"]
df["Total"] = df["Total"] * 10
df

In [162]:
# Prostsze niż groupby()
df["Type 1"].value_counts()

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112

In [5]:
df["Type 1"].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

# _________________________________________________________________________________________________________________________

In [16]:
print(df.Name) #!!!!!!!!!!!!!!!!!!!!!

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [21]:
df["Name"][::100]

0      Bulbasaur
100      Haunter
200    Sudowoodo
300      Swellow
400      Walrein
500    Hippowdon
600     Sewaddle
700    Terrakion
Name: Name, dtype: object

In [28]:
df.loc[::100, "Name"]

0      Bulbasaur
100      Haunter
200    Sudowoodo
300      Swellow
400      Walrein
500    Hippowdon
600     Sewaddle
700    Terrakion
Name: Name, dtype: object